@tailwind base;
@tailwind components;
@tailwind utilities;

/* globals.css */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield; /* Remove setas no Firefox */
}

/* Barra de rolagem em Webkit (Chrome, Safari, Edge) */
.custom-scroll::-webkit-scrollbar {
  width: 12px; /* Largura da barra de rolagem */
}

.custom-scroll::-webkit-scrollbar-track {
  background: #f1f1f1; /* Cor de fundo da trilha da barra de rolagem */
}

.custom-scroll::-webkit-scrollbar-thumb {
  background: #d79920; /* Cor da parte deslizante da barra de rolagem */
  border-radius: 10px; /* Borda arredondada para a parte deslizante */
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
  background: #d79940; /* Cor da parte deslizante quando o usuário passa o mouse sobre ela */
}

@font-face {
  font-family: "Agency";
  src: url("/fonts/Agency.ttf") format("truetype");
  font-weight: thin;
  font-style: thin;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
/* globals.css ou outro arquivo CSS global */
body{
  color: white;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.caixa3d::before {
  content: "";
  width: 255px;
  height: calc(0.192 * 200px);
  position: absolute;
  top: calc(-0.192 * 200px);
  left: calc(-0.16 * 170px);
  background-color: #232838;
  transform: skew(40deg);
  transform-origin: top;
  transition: transform 1s, left 1s;
}

.caixa3d::after {
  content: "";
  width: calc(0.16 * 230px);
  height: 205px;
  position: absolute;
  top: calc(-0.096 * 224px);
  left: calc(-0.16 * 200px);
  background-color: #191c27;
  z-index: -1;
  transform: skewY(50deg);
  transform-origin: top;
  transition: transform 1s, left 1s;
}
.nftPiscando {
  background: repeating-linear-gradient(
    to right,
    rgb(85, 75, 69),
    rgb(85, 75, 69) 0.212%,
    rgb(215, 153, 32) 0.212%,
    rgb(215, 153, 32) 17.176%,
    rgb(215, 153, 32) 16.8433%,
    rgb(215, 153, 32) 33.142%,
    rgb(215, 153, 32) 33.4747%,
    rgb(215, 153, 32) 50.106%,
    rgb(215, 153, 32) 50.106%,
    rgb(215, 153, 32) 67.07%,
    rgb(215, 153, 32) 66.7373%,
    rgb(215, 153, 32) 83.036%,
    rgb(215, 153, 32) 83.3687%,
    rgb(215, 153, 32) 100%
  );
  animation: piscar 2s infinite;
}


.nftUserPiscando {
  background: repeating-linear-gradient(
    to right,
    rgb(85, 75, 69),
    rgb(85, 75, 69) 0.212%,
    rgb(32, 35, 215) 0.212%,
    rgb(32, 35, 215) 17.176%,
    rgb(32, 35, 215) 16.8433%,
    rgb(32, 35, 215) 33.142%,
    rgb(32, 35, 215) 33.4747%,
    rgb(32, 35, 215) 50.106%,
    rgb(32, 35, 215) 50.106%,
    rgb(32, 35, 215) 67.07%,
    rgb(32, 35, 215) 66.7373%,
    rgb(32, 35, 215) 83.036%,
    rgb(32, 35, 215) 83.3687%,
    rgb(32, 35, 215) 100%
  );
  animation: piscar 2s infinite;
}


.nftPaidPiscando {
  background: repeating-linear-gradient(
    to right,
    rgb(85, 75, 69),
    rgb(85, 75, 69) 0.212%,
    #008510 0.212%,
    rgb(0, 133, 16) 17.176%,
    rgb(0, 133, 16) 16.8433%,
    rgb(0, 133, 16) 33.142%,
    rgb(0, 133, 16) 33.4747%,
    rgb(0, 133, 16) 50.106%,
    rgb(0, 133, 16) 50.106%,
    rgb(0, 133, 16) 67.07%,
    rgb(0, 133, 16) 66.7373%,
    rgb(0, 133, 16) 83.036%,
    rgb(0, 133, 16) 83.3687%,
    rgb(0, 133, 16) 100%
  );
  animation: piscar 2s infinite;
}
@keyframes piscar {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5; /* Diminui a opacidade no meio */
  }
  100% {
    opacity: 1;
  }
}

@keyframes shoot {
  from {
    bottom: 0;
    left: 50%;
  }
  to {
    bottom: 50%;
    left: calc(50% + 20px);
  }
}

@keyframes explode {
  from {
    opacity: 1;
    transform: scale(0);
  }
  to {
    opacity: 0;
    transform: scale(2);
  }
}

@keyframes sparkle {
  from {
    opacity: 1;
    transform: translate(0, 0) scale(0.5);
  }
  to {
    opacity: 0;
    transform: translate(var(--x), var(--y)) scale(1);
  }
}

.spark:nth-child(1) {
  --x: 20px;
  --y: -40px;
}
.spark:nth-child(2) {
  --x: -20px;
  --y: -40px;
}
.spark:nth-child(3) {
  --x: 30px;
  --y: -10px;
}
.spark:nth-child(4) {
  --x: -30px;
  --y: -10px;
}
.spark:nth-child(5) {
  --x: 40px;
  --y: 10px;
}
.spark:nth-child(6) {
  --x: -40px;
  --y: 10px;
}

/*shine animation */

/* styles/globals.css ou styles/animation.css */
@keyframes shine {
  0% {
    background-position: -100% 0;
  }
  100% {
    background-position: 100% 0;
  }
}

.glossy {
  position: relative;
  overflow: hidden;
  background: #26251f35; /* Cor de fundo do card */
}

.glossy_cta{
  position: relative;
  overflow: hidden;
  background: #d79920;
}

.glossy_claim{
  position: relative;
  overflow: hidden;
  background: #448301;
}

.glossy_claim::before{
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: linear-gradient(120deg, rgba(255, 255, 255, 0.2) 25%, transparent 50%, rgba(255, 255, 255, 0.2) 75%);
  background-size: 200% 100%;
  animation: shine 2s infinite;
}
.glossy_cta::before{
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: linear-gradient(120deg, rgba(255, 255, 255, 0.2) 25%, transparent 50%, rgba(255, 255, 255, 0.2) 75%);
  background-size: 200% 100%;
  animation: shine 2s infinite;
}

.glossy::before {
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: linear-gradient(120deg, rgba(255, 255, 255, 0.2) 25%, transparent 50%, rgba(255, 255, 255, 0.2) 75%);
  background-size: 200% 100%;
  animation: shine 2s infinite;
  
}

.glossy-content {
  position: relative;

}
